.settings/*
.classpath
.project
.tern-project
target/*
.metadata/*
key.txt

externo-pdi-ear/.settings/*
externo-pdi-ejb/.settings/*
externo-pdi-web/.settings/*

externo-pdi-ear/target/
externo-pdi-ejb/target/
externo-pdi-web/target/

externo-pdi-ejb/.project
externo-pdi-web/.project
externo-pdi-ear/.project

externo-pdi-ejb/.classpath
externo-pdi-web/.classpath
externo-pdi-ear/.classpath

