backend/.settings/*
backend/backend-data/.settings/*
backend/backend-ejb/.settings/*
backend/backend-web/.settings/*
backend/backend-ear/.settings/*

backend/backend-ejb/.classpath
backend/backend-data/.classpath
backend/backend-web/.classpath
backend/backend-ear/.classpath

backend/.project
backend/backend-ear/.project
backend/backend-data/.project
backend/backend-web/.project
backend/backend-ejb/.project

backend/backend-data/.bin
backend/backend-web/.bin
backend/backend-ejb/.bin

backend/.idea

.metadata/*

RemoteSystemsTempFiles/*


